@font-face {
  font-family: "Inter";
  src: url(./fonts/Inter-Regular.ttf) format("truetype"), url(./fonts/Inter-Bold.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
}

body {
  background-color: #e5e5e5;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .wrapper {
  width: 540px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #111111;
  border-radius: 15px;
}
body .wrapper .cover-img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 169px;
  height: 169px;
  border-radius: 15px 0 0 15px;
}
body .wrapper .player-comp {
  width: 371px;
  height: 169px;
  background-color: #111111;
  padding: 17px 30px 0 32px;
  border-radius: 15px;
}
body .wrapper .player-comp .songTitle-and-spotifybtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .wrapper .player-comp .songTitle-and-spotifybtn .song-title {
  font: 700 18px "Inter";
  color: #ffffff;
  width: 260px;
  word-wrap: break-word;
}
body .wrapper .player-comp .songTitle-and-spotifybtn .spotify-btn {
  background-image: url(./assets/icons/spotifyBtn.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}
body .wrapper .player-comp .artist-name {
  font: 400 14px "Inter";
  color: #696969;
  width: 260px;
  padding-top: 5px;
  word-wrap: break-word;
}
body .wrapper .player-comp .progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 19px;
}
body .wrapper .player-comp .progress-bar .progress-line {
  width: 257px;
  height: 3px;
  background: #dadada;
}
body .wrapper .player-comp .progress-bar .progress-line .progress {
  width: 0%;
  height: 3px;
  background-color: rgb(128, 26, 26);
}
body .wrapper .player-comp .progress-bar .current-time {
  font: 400 12px "Inter";
  color: #c1c1c1;
}
body .wrapper .player-comp .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 55px;
  padding-top: 17px;
}
body .wrapper .player-comp .buttons .repeat-btn {
  background-image: url(./assets/icons/repeatBtn.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}
body .wrapper .player-comp .buttons .song-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
body .wrapper .player-comp .buttons .song-control .prev-btn {
  background-image: url(./assets/icons/prevBtn.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 34px;
}
body .wrapper .player-comp .buttons .song-control .play-pause-btn {
  background-image: url(./assets/icons/playBtn.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 38px;
}
body .wrapper .player-comp .buttons .song-control .next-btn {
  background-image: url(./assets/icons/nextBtn.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 34px;
}
body .wrapper .player-comp .buttons .fav-btn {
  background-image: url(./assets/icons/favBtn.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 16px;
}